.desktop-1,
.desktop-1 * {
  box-sizing: border-box;
}
.desktop-1 {
  background: linear-gradient(171deg, #000 0.78%, #8F73E0 54.39%, #000 99.75%);
  width: 100%;
  height: 3494px;
  position: relative;
  overflow: hidden;
}
.group-1 {
  position: absolute;
  inset: 0;
  width: 70%;
  left: 250px;

}
.vidinha-1 {
  border-radius: 286px;
  border-style: solid;
  border-color: #ffffff;
  border-width: 14px;
  width: 578px;
  height: 572px;
  position: absolute;
  left: 783px;
  top: 977px;
}
.modelos {
  color: #ffffff;
  text-align: left;
  font-size: 70px ;
font-family: 'Joti One', serif;  position: absolute;
  left: 520px;
  top: 1847px;
}
.modelos2 {
  color: #ffffff;
  text-align: left;
  font-size: 70px ;
font-family: 'Joti One', serif;  position: absolute;
  left: 568px;
  top: 467px;
}
.logo-fotografia-minimalista-branco-1 {
  width: 380px;
  height: 380px;
  position: absolute;
  left: 490px;
}
.contato {
  color: #ffffff;
  text-align: left;
  font-size: 70px ;
font-family: 'Joti One', serif;  position: absolute;
  left: 36px;
  top: 460px;
}
.passarela-radiante {
  color: #ffffff;
  text-align: left;
  font-size: 70px ;
font-family: 'Joti One', serif;  position: absolute;
  left: 373px;
  top: 232px;
}
.sobre {
  color: #ffffff;
  text-align: left;
  font-size: 70px ;
font-family: 'Joti One', serif;  position: absolute;
  left: 1211px;
  top: 467px;
}
.rectangle-1 {
  background: #ffffff;
  border-style: solid;
  border-color: #ffffff;
  border-width: 12px;
  width: 596px;
  height: 846px;
  position: absolute;
  left: 102px;
  top: 821px;
}
.bem-vindo-passarela-radiante-onde-a-beleza-encontra-a-excel-ncia-somos-uma-ag-ncia-de-modelos-dedicada-a-revelar-talentos-excepcionais-e-moldar-o-futuro-da-moda-no-brasil-nossa-vis-o-iluminar-a-ind-stria-com-diversidade-eleg-ncia-e-profissionalismo-na-passarela-radiante-cada-passo-uma-celebra-o-da-individualidade-e-cada-modelo-uma-estrela-brilhante-em-ascens-o-junte-se-a-n-s-nesta-jornada-nica-onde-a-moda-encontra-seu-esplendor {
  color: #393939;
  text-align: left;
  font-size: 30px ;
font-family: 'Joti One', serif;  position: absolute;
  left: 140px;
  top: 864px;
  width: 521px;
  height: 626px;
}
.toby-1 {
  width: 271px;
  height: 397px;
  position: absolute;
  left: 227px;
  top: 2044px;
}
.contatos {
  color: #ffffff;
  text-align: left;
  font-size: 70px ;
font-family: 'Joti One', serif;  position: absolute;
  left: 498px;
  top: 2726px;
}
.passarela-radiante2 {
  color: #ffffff;
  text-align: left;
  font-size: 70px ;
font-family: 'Joti One', serif;  position: absolute;
  left: 330px;
  top: 2950px;
}
.cara-1-1 {
  width: 271px;
  height: 395px;
  position: absolute;
  left: 1000px;
  top: 2057px;
}
.kine-chan-6-1 {
  width: 275px;
  height: 396px;
  position: absolute;
  left: 611px;
  top: 2045px;
}
.telefone-55-1234-5678-e-mail-contato-passarelaradiante-com-br {
  color: #ffffff;
  text-align: left;
  font-size: 30px ;
font-family: 'Joti One', serif;  position: absolute;
  left: 260px;
  top: 3132px;
  width: 884px;
  height: 345px;
}
.telefone-55-1234-5678-e-mail-contato-passarelaradiante-com-br-span {
  color: #ffffff;
  font-size: 30px ;
font-family: 'Joti One', serif;}
.telefone-55-1234-5678-e-mail-contato-passarelaradiante-com-br-span2 {
  color: #ffffff;
  font-size: 30px ;
font-family: 'Joti One', serif;  text-decoration: underline;
}
.logo-fotografia-minimalista-branco-2 {
  width: 380px;
  height: 380px;
  position: absolute;
  left: 1016px;
  top: 3097px;
}
